<extend name="Admin@Public:base" />

<block name="style">
<style type="text/css" media="screen">
    .table th, .table td{
        text-align:center;
    }
</style>
</block>

<block name="sidebar">
    <include file="Public:documenu" />
</block>

<block name="body">
	<!-- 标题 -->
    <div class="main-title">
        <div class="list">
            <table class="table">
                <thead>
                    <tr>
                        <th>电话</th>
                        <th>项目名称</th>
                        <th>已备资金</th>
                        <th>公司成立时间</th>
                        <th>公司所在城市</th>
                        <th>公司资产</th>
                        <th>去年销售额</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="list" id="vo">
                    <tr>
                        <td>{$vo.mobile}</td>
                        <td>{$vo.project_name}</td>
                        <td>{$vo.funds}</td>
                        <td>{$vo.company_creatiion_time}</td>
                        <td>{$vo.company_location}</td>
                        <td>{$vo.company_fund}</td>
                        <td>{$vo.sales_volume}</td>
                        <td style="width:150px">
                            <a href="__APP__/Admin/Inverstor/inverstorInfo/id/{$vo.id}" class="btn btn-success">详情</a>
                        </td>
                    </tr>
                    </volist>
                </tbody>
            </table>
        </div>
    </div>
</block>

<block name="script">
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript">
    $(function() {
        $('.main-nav').find('li').eq(1).addClass('current');
        $('#subnav').find('h3').eq(2).find('i').removeClass('icon-fold');
        $('#subnav').find('ul').eq(2).removeClass('subnav-off');
        $('#subnav').find('ul').eq(2).find('li').eq(1).addClass('current');
    });
</script>
</block>

