<extend name="Admin@Public:base" />

<block name="style">
<link rel="stylesheet" type="text/css" href="__STATIC__/datetimepicker/css/datetimepicker.css"/>
<style type="text/css" media="screen">
    dl {
    margin-bottom:20px;
    }
    .img-sel {
        position: relative;
    }
    .img-sel img{
        position: absolute;
        top:0px;
        left:0px;
        max-width:300px;
        max-height:365px;
    }
    #uploadify-queue {
        max-width:212px;
    }
    .uploadify-queue-item {
        width: 100%;
        padding: 2px;
        margin-top: 0;
        border-radius: 0;
        background: #fff;
        position: relative;
        left:0;
        bottom: 0px;
    }
    .uploadify-progress {
        width: 100%;
        margin: 0;
        background: #f5f5f5;
    }
    .uploadify-progress-bar {
        width: 100%;
        background: #000;
        height: 5px;
    }
    textarea{
        height:120px;
        width:320px;
    }
</style>
</block>

<block name="sidebar">
    <include file="Public:documenu" />
</block>

<block name="body">
	<!-- 标题 -->
    <div class="main-title">
        <div>
            <a href="javascript:;" class="btn btn-success confirm">更新</a>
        </div>
        <div style="margin-top:20px">
            <form id="myForm">
                <gt name="info.id" value="0">
                <input name="id" type="hidden" value="{$info.id}" />
                </gt>
                <dl class="dl-horizontal">
                    <dt>姓名</dt>
                    <dd><input name="name" type="text" required value="{$info.name}"/></dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>人物简介</dt>
                    <dd><textarea name="profile">{$info.profile}</textarea></dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>人物照片</dt>
                    <dd>
                        <div class="img-sel">
                            <div id="uploadify" class="uploadify"></div>
                            <img id="img-src" src="{$info.img_path}{$info.img_name}">
                            <input name="img_name" id="img-name" type="hidden" value="{$info.img_name}"/>
                            <input name="img_path" id="img-path" type="hidden" value="{$info.img_path}"/>
                        </div>
                        <span class='remind'>建议比例：300X365</span>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>公司成立时间</dt>
                    <dd>
                        <input class="input-small" name="company_creation_time" type="text" value="{$info.company_creation_time|default=date('Y')}"/>年
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>公司资产</dt>
                    <dd>
                        <input name="company_fund" type="text" value="{$info.company_fund}"/>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>公司位置</dt>
                    <dd>
                        <input type="text" name="company_location" value="{$info.company_location}">
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>去年销售额</dt>
                    <dd>
                        <input type="text" name="sales_volume" value="{$info.sales_volume}">
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>资源</dt>
                    <dd>
                        <textarea name="resource">{$info.resource}</textarea>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>需求</dt>
                    <dd>
                        <textarea name="need">{$info.need}</textarea>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>已备资金</dt>
                    <dd>
                        <input type="text" name="funds" value="{$info.funds}">
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>项目名称</dt>
                    <dd>
                        <input type="text" name="project_name" value="{$info.project_name}">
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>一句话说明</dt>
                    <dd>
                        <textarea name="brief">{$info.brief}</textarea>
                    </dd>
                </dl>
            </form>
        </div>
    </div>
</block>

<block name="script">
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript" src="__STATIC__/jquery.form.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript">
    $(function() {
        $('.main-nav').find('li').eq(1).addClass('current');
        $('#subnav').find('h3').eq(2).find('i').removeClass('icon-fold');
        $('#subnav').find('ul').eq(2).removeClass('subnav-off');
        $('#subnav').find('ul').eq(2).find('li').eq(0).addClass('current');

        $('#uploadify').uploadify({
            'width': 300,
            'height' : 365,
            'swf' : '__STATIC__/uploadify/uploadify.swf',
            'buttonText' : '+上传图片',
            'uploader' : '__APP__/Admin/Upload/uploadImg',
            'fileTypeExts': '*.jpg;*.png;*.gif',
            itemTemplate: '<div id="${fileID}" class="uploadify-queue-item">\
                                <div class="uploadify-progress">\
                                    <div class="uploadify-progress-bar"></div>\
                                </div>\
            </div>',
            onUploadStart: function() {
                $('.saveform').prop('disabled', true);
            },
            onUploadSuccess: function(file, data, response) {
                var  data = $.parseJSON(data);
                $('#img-src').attr("src", data.path+data.name);
                $('#img-name').val(data.name);
                $('#img-path').val(data.path);
            },
            onQueueComplete: function() {
                $('.saveform').prop('disabled', false);
            }
        });

        $('.confirm').on('click', function() {
            $('#myForm').ajaxSubmit({
                url: '__APP__/Admin/Inverstor/updateInverstor',
                type: 'post',
                dataType: 'json',
                success: function(data) {
                    if(data.code == 0) {
                        alert('添加成功');

                        location.reload();
                    } else {
                        alert("添加失败");
                    }
                }
            });
        });
    });
</script>
</block>

