<!DOCTYPE html>
<html lang="en">
	<include file="Base/header" />
<body>
	<!-- 网站导航 -->
	<div class="topnav">
		<div class="wrapper">
			<ul class="nav">
				<li><a href="__APP__">首页</a></li>
				<li><a href="__APP__/Home/Inverstor/info">虫洞招拍挂</a></li>
				<li class="active"><a href="__APP__/Home/Transition/showList">虫洞转型</a></li>
				<li><a href="__APP__/Home/College/showList">虫洞商学院</a></li>
			</ul>
			<a href="javascript:;" class="extra">
				<span class="icon-phone"></span> 官方咨询电话 <span>400-100-6810</span>
			</a>
		</div>
	</div>
	<!-- 网站LOGO -->
	<div class="logo wrapper">
		<h2>虫洞招拍挂</h2>
		<div class="advert">
            <img src="{$img.path}{$img.name}" alt="虫洞招拍挂">
		</div>
	</div>
	<!-- 文章 -->
	<div class="article wrapper">
        <h3>{$detail.title}</h3>
		<p class="attached">
            作者: <span class="author">{$detail.author}</span>
            <span class="datetime"><b class="icon-clock"></b>
                {$detail.create_time}
			</span>
            来源: <span class="source">{$detail.refer}</span>
		</p>
        <div class="content">
            {$detail.content}
		</div>
	</div>
	<!-- 网站底部 -->
    <include file="Base/footer" />
</body>
</html>
