<!DOCTYPE html>
<html lang="en">
	<include file="Base/header" />
<body>
	<!-- 网站导航 -->
	<div class="topnav">
		<div class="wrapper">
			<ul class="nav">
				<li><a href="/">首页</a></li>
				<li><a href="__APP__/Home/Inverstor/info">虫洞招拍挂</a></li>
				<li class="active"><a href="__APP__/Home/Transition/showList">虫洞转型</a></li>
				<li><a href="__APP__/Home/College/showList">虫洞商学院</a></li>
			</ul>
			<a href="javascript:;" class="extra">
				<span class="icon-phone"></span> 官方咨询电话 <span>400-100-6810</span>
			</a>
		</div>
	</div>
	<!-- 网站LOGO -->
	<div class="logo wrapper">
		<h2>虫洞招拍挂</h2>
		<div class="advert">
			<img src="__PUBLIC__/Home/images/advert.jpg" alt="虫洞招拍挂">
		</div>
	</div>
	<!-- 文章 -->
	<div class="article wrapper">
		<h3>李开复 : 大众创业是一场全民运动，独角兽却没有几家</h3>
		<p class="attached">
			作者: <span class="author">崔婧</span>
			<span class="datetime"><b class="icon-clock"></b>
				2015-07-23 09:36
			</span>
			来源: <span class="source">i黑马</span>
		</p>
		<div class="content">
			<p>公元2029年，经过核毁灭的地球已由电脑“天网”统治，人类几乎被消灭殆尽。剩下的人类在领袖约翰康纳的领导下与电脑英勇作战，并扭转了局面。“天网”为了改变这一切，制造了时光逆转装置，派遣终结者人型机械人T-800回到1984年， 去杀死约翰的母亲康纳莎拉，以阻止约翰的诞生。约翰发现了一这阴谋，攻占了实验室， 战士凯尔里斯自愿通过时间通道回到1984年保护莎拉。</p>
			<p>T-800是个有肌肉，血液等人类特性的机械战士。它来到洛杉矶，按照电话簿追杀名叫莎拉康纳的女人，但真正的那个莎拉却在危急关头被里斯所救。但是警察却将里斯作为恐怖分子抓了起来。没有人相信里斯所说的关于未来世界和战争的话，认为他是个疯子。T-800闯进了警局，警察根本不堪一击。所幸里斯逃了出来，把莎拉带到了郊外，面对事实的经历，莎拉终于相信了里斯。</p>
			<p>在汽车旅馆中，里斯向莎拉吐露了长久的爱意，两人拥抱着上床，原来里斯就是约翰的父亲。T-800找到了他们，里斯与莎拉带着做好的炸药管逃走。在追逐中，里斯机智地炸毁了T-800驾驶的油罐车，T-800被烈火吞没了，但里斯却受了重伤。然而，T-800并未被毁灭，它的人类外壳被烧去了，露出了由微电脑控制的超合金机械骨骼。T-800追杀两人进了工厂，里斯舍命用最后一枚炸药毁掉了T-800的下半身，但残余的T-800仍然不忘追杀莎拉。最终，莎拉用计将T-800困在液压机里，将它压成了一堆废铁。</p>
			<p>20世纪末的1997年7月3日，人类研制的全球高级计算机控制系统“天网”全面失控，机器人有了自己的意志，将人类视为假想敌人，并发射核弹到地球的各个角落，杀死了几十亿人。余下来的人类在一个叫约翰·康纳（John Connor）的人领导下，团结在一起，用有限的资源和武器与强大精良的机器人周旋作战，并逐步扭转了战局。机器人为了挽回败局，于2029年派出了机器人杀手T800回到1984年去杀死约翰·康纳的母亲康纳·莎拉（Connor Sarah），那时的约翰·康纳还没有出生。而约翰·康纳得知后亦派出自己的父亲凯尔·里斯（未来的约翰不知道，后来的约翰知道）同回1984年去保护自己的母亲。一番恶斗之后T800被击败，不甘失败的机器人复又派出更为先进的液态金属人T-1000回到1995年核屠杀之前去直接杀死只有10岁的小约翰，而约翰本人也派出经过改良成为人类助手的T800去保护童年的自己。在经历了与T-1000危险紧张的追杀之后，约翰与莎拉终于相信了T800不再是11年前那个狠辣无情的机器杀手，为了改变人类的命运，约翰、莎拉和“终结者”找到了天网系统的研究者，塞伯公司的技术总监莫尔斯戴森，并销毁了一切有关天网的资料，并在随后的炼钢厂中终于彻底终结了T-1000。为了最终毁灭一切芯片，T-800做出了牺牲自己的选择，自沉钢水之中毁灭。本片在首映后的次年获1992年度第64届奥斯卡四项大奖：最佳音效、最佳视觉特效、最佳录音和最佳化装。</p>
		</div>
	</div>
	<!-- 网站底部 -->
    <include file="Base/footer" />
</body>
</html>