<!DOCTYPE html>
<html lang="en">
    <include file="Base/header" />
<body>
    <div class="wrapper">
    	<!-- 网站导航 -->
    	<div class="nav">
    	    <include file="Base/menu" />
    	</div>
    	<!-- banner -->
        <div class="vague adv">
            <notempty name="banner">
            <img src="{$banner}" alt="虫洞招拍挂">
            <else/>
            <img src="__PUBLIC__/Home/images/yj.jpg" alt="虫洞招拍挂">
            </notempty>
    	</div>
    	<!-- 转型 -->
    	<div class="transition">
            <!-- Loop start -->
            <volist name="list" id='vo'>
            <php> $tag = json_decode($vo['tag'], 1)</php>
            <php> $content = strip_tags($vo['content'])</php>
    		<div class="item">
                <div class="pic">
                    <a href="__APP__/Home/Transition/detail/id/{$vo.id}">
                        <img src="{$vo.img_path}{$vo.img_name}" alt="转型">
                        <notempty name="vo.type">
                        <b class="mark">{$vo.type}</b>
                        </notempty>
                    </a>
    			</div>
    			<div class="brief">
                    <h4><a href="__APP__/Home/Transition/detail/id/{$vo.id}">{$vo.title}</a></h4>
                    <p class="attached">作者: <span class="author">{$vo.author}</span> <span class="datetime"><span class="icon-clock"> {$vo.create_time}</span></p>
                    <p class="general">{$content|msubstr=0,180}</p>
                    <p class="tags">
                    	<span class="icon-tags"></span>
                        <volist name="tag" id="tv">
                        <span>{$tv}</span>
                        </volist>
    				</p>
    			</div>
            </div>
            </volist>
    		<!-- Loop end -->
    	</div>
    	<!-- 分页 -->
        {$show}
        <include file="Base/footer" />
    </div>
    <script type="text/javascript">
        $('.nav').find('li').eq(2).addClass('active');
    </script>
</body>
</html>
