<extend name="Public/base"/>
<block name="style">
<style type="text/css">
    .img-sel {
        position: relative;
    }
    .img-sel img {
        position: absolute;
        top:0px;
        left:0px;
        max-height:71px;
    }
</style>
</block>

<!-- 子导航 -->
<block name="sidebar">
    <include file="Public:documenu" />
</block>


<block name="body">
	<!-- 标题 -->
    <div class="main-title">
        <div class="virtual-body">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                </div>
            </div>
            <div class="adv">
                <div class="logo">
                </div>
                <div class="adv-img">
                    <div class="img-sel">
                        <div id="uploadify" class="uploadify"></div>
                        <img src="{$img['path']}{$img['name']}">
                        <input id="img-name" type="hidden" value="{$img['name']}"/>
                        <input id="img-path" type="hidden" value="{$img['path']}"/>
                    </div>
                </div>
            </div>
            <div style="float:right">
                <a href="javascript:;" class="btn btn-success">保存</a>
            </div>
         </div>
	</div>

	<!-- 按钮工具栏 -->
</block>
<block name="script">
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript">
    $(function() {
        $('.main-nav').find('li').eq(1).addClass('current');
        $('#subnav').find('h3').eq(0).find('i').removeClass('icon-fold');
        $('#subnav').find('ul').eq(0).removeClass('subnav-off');
        $('#subnav').find('ul').eq(0).find('li').eq(0).addClass('current');

        $('#uploadify').uploadify({
            'width': 550,
            'height' : 70,
            'swf' : '__STATIC__/uploadify/uploadify.swf',
            'buttonText' : '+上传图片',
            'uploader' : '__APP__/Admin/Upload/uploadImg',
            'fileTypeExts': '*.jpg;*.png;*.gif',
            itemTemplate: '<div id="${fileID}" class="uploadify-queue-item">\
                                <div class="uploadify-progress">\
                                    <div class="uploadify-progress-bar"></div>\
                                </div>\
            </div>',
            onUploadStart: function() {
                $('.saveform').prop('disabled', true);
            },
            onUploadSuccess: function(file, data, response) {
                var  data = $.parseJSON(data);
                $('.img-sel').find('img').attr("src", data.path+data.name);
                $('#img-name').val(data.name);
                $('#img-path').val(data.path);
            },
            onQueueComplete: function() {
                $('.saveform').prop('disabled', false);
            }
        });
        $('.btn-success').on('click', function() {
            var path = $('#img-path').val(),
                name = $('#img-name').val();

                console.log(path);
                console.log(name);
            if (!path || !name ) {
                alert('请上传图片');

                return false;
            }
            $.ajax({
                url:'__APP__/Admin/Set/saveTopAdv',
                type:'post',
                data: {path: path, name: name},
                dataType: 'json',
                success: function(data) {
                    if (!data.code) {
                        alert('保存成功');
                    } else {
                        alert('保存失败');
                    }
                }
            });
        });
    });
</script>
</block>
