.virtual-body {
    width: 1200px;
    margin: 20px auto auto auto;
}
.virtual-body .navbar {
    margin-bottom: 0px;
}

.virtual-body .adv-img{
    height: 100%;
    background: #fff;
}
.virtual-body .img-sel{
    width: 100%;
    height: 400px;
    margin-top: 20px;
}
span.remind {
    color: red;
}
.virtual-body button {
    margin-top: 30px;
}
.main-title .list {
    margin-top: 30px;
}
