<div id="subnav" class="subnav">
    <h3>
        <i class="icon icon-fold"></i>
        系统图片 
    </h3>
    <ul class="side-sub-menu subnav-off">
        <li><a class="item" href="__APP__/Admin/Set/topImage">顶部广告</a></li>
        <li><a class="item" href="__APP__/Admin/Set/carousel">轮播图</a></li>
        <li><a class="item" href="__APP__/Admin/Set/qrcode">二维码</a></li>
    </ul>
    <h3>
        <i class="icon icon-fold"></i>
        首页项目
    </h3>
    <ul class="side-sub-menu subnav-off">
        <li><a class="item" href="__APP__/Admin/Project/projectList">项目列表</a></li>
    </ul>
    <h3>
        <i class="icon icon-fold"></i>
        招拍挂
    </h3>
    <ul class="side-sub-menu subnav-off">
        <li><a class="item" href="__APP__/Admin/Inverstor/inverstor">投资人</a></li>
        <li><a class="item" href="__APP__/Admin/Inverstor/inverstorList">报名列表</a></li>
    </ul>
    <h3>
        <i class="icon icon-fold"></i>
        转型
    </h3>
    <ul class="side-sub-menu subnav-off">
        <li><a class="item" href="__APP__/Admin/Transition/transitionList">文章列表</a></li>
    </ul>
    <h3>
        <i class="icon icon-fold"></i>
        商学院
    </h3>
    <ul class="side-sub-menu subnav-off">
        <li><a class="item" href="__APP__/Admin/College/collegeList">项目列表</a></li>
    </ul>
</div>
<script>
    $(function(){
        $(".side-sub-menu li").hover(function(){
            $(this).addClass("hover");
        },function(){
            $(this).removeClass("hover");
        });
    })
</script>
