<!DOCTYPE html>
<html lang="en">
	<include file="Base/header" />
<body>
	<!-- 网站导航 -->
	<div class="topnav">
		<div class="wrapper">
			<ul class="nav">
				<li><a href="__APP__">首页</a></li>
				<li><a href="__APP__/Home/Inverstor/info">虫洞招拍挂</a></li>
				<li><a href="__APP__/Home/Transition/showList">虫洞转型</a></li>
				<li class="active"><a href="__APP__/Home/College/showList">虫洞商学院</a></li>
			</ul>
			<a href="javascript:;" class="extra">
				<span class="icon-phone"></span> 官方咨询电话 <span>400-100-6810</span>
			</a>
		</div>
	</div>
	<!-- 网站LOGO -->
	<div class="logo wrapper">
		<h2>虫洞招拍挂</h2>
		<div class="advert">
            <img src="{$img.path}{$img.name}" alt="虫洞招拍挂">
		</div>
	</div>
	<div class="blank"></div>
	<!-- 未知部分 -->
	<div class="vague wrapper">
		<img src="__PUBLIC__/Home/images/pic.jpg" alt="商学院">
	</div>
	<!-- 商学院 -->
	<div class="college wrapper">
        <!-- Loop start -->
        <volist name="list" id="vo">
        <php>$content = strip_tags($vo['content'])</php>
		<div class="item">
            <div class="thumb">
                <a href="__APP__/Home/College/detail/id/{$vo.id}">
                    <img src="{$vo.img_b_path}{$vo.img_b_name}" alt="虫洞学院">
                </a>
			</div>
			<div class="label">
                <img src="{$vo.img_l_path}{$vo.img_l_name}" alt="">
                <span>{$vo.title}</span>
			</div>
            <p class="brief">
                {$content|msubstr=0,100}
			</p>
			<div class="extra">
                <span class="datetime"><b class="icon-clock"></b>
                    {$vo.start_time}
				</span>
                <span class="address"><b class="icon-position"></b>
                    {$vo.location|msubstr=0,10}
				</span>
				<a href="javascript:;" class="apply">立即报名</a>
			</div>
        </div>
        </volist>
        <!-- Loop end -->
        <div class="item empty"></div>
    </div>
	<!-- 分页 -->
    {$show}
	<!-- 网站底部 -->
    <include file="Base/footer" />
    <script type="text/javascript">
    	$('.college, .detail').on('click', '.apply', function () {
    		var _this = $(this);

    		var mask = $('<div />', {
    			id: 'cover',
    			css: {
    				position: 'fixed',
    				top: 0,
    				left: 0,
    				width: '100%',
    				height: "100%",
    				backgroundColor: '#000',
    				opacity: 0.8
    			}
    		}).appendTo('body');

    		var html = $('#layer').html()
    		
    		var layer = $(html).appendTo('body');

    		// 提交表单的主要逻辑
    		layer.find('.submit').click(function () {

    			alert('提交表单');
    		});

    		mask.one('click', function () {
    			$(this).remove();
    			layer.remove();
    		});
    	});
    </script>
    <script type="text/template" id="layer">
		<div class="layer">
			<ul>
				<li>
					<label for="">姓名</label>
					<input type="text" name="">
					<span class="error">姓名不能为空</span>
				</li>
				<li>
					<label for="">公司</label>
					<input type="text" name="">
				</li>
				<li>
					<label for="">职位</label>
					<input type="text" name="">
				</li>
				<li>
					<label for="">手机</label>
					<input type="text" name="">
				</li>
				<li>
					<label for="">邮箱</label>
					<input type="text" name="">
				</li>
				<li><input type="button" value="提交报名" class="submit"></li>
			</ul>
		</div>
    </script>
</body>
</html>
