<!DOCTYPE html>
<html lang="en">
	<include file="Base/header" />
<body>
	<!-- 网站导航 -->
	<div class="topnav">
		<div class="wrapper">
			<ul class="nav">
				<li><a href="/">首页</a></li>
				<li><a href="__APP__/Home/Inverstor/info">虫洞招拍挂</a></li>
				<li><a href="__APP__/Home/Transition/showList">虫洞转型</a></li>
				<li class="active"><a href="__APP__/Home/College/showList">虫洞商学院</a></li>
			</ul>
			<a href="javascript:;" class="extra">
				<span class="icon-phone"></span> 官方咨询电话 <span>400-100-6810</span>
			</a>
		</div>
	</div>
	<!-- 网站LOGO -->
	<div class="logo wrapper">
		<h2>虫洞招拍挂</h2>
		<div class="advert">
			<img src="__PUBLIC__/Home/images/advert.jpg" alt="虫洞招拍挂">
		</div>
	</div>
	<div class="blank"></div>
	<!-- 未知部分 -->
	<div class="vague wrapper">
		<img src="__PUBLIC__/Home/images/pic.jpg" alt="商学院">
	</div>
	<!-- 商学院 -->
	<div class="college wrapper">
		<!-- Loop start -->
		<div class="item">
			<div class="thumb">
				<img src="__PUBLIC__/Home/images/college.jpg" alt="虫洞学院">
			</div>
			<div class="label">
				<img src="__PUBLIC__/Home/images/logo.jpg" alt="">
				<span>创新企业</span>
			</div>
			<p class="brief">
				这是一个什么样的网站呀，真是搞不懂呀，可是又有什么办法呢，凑合着做吧，整体差不多就可以了，好，这么决定了，balabala，开始吧
			</p>
			<div class="extra">
				<span class="datetime"><b class="icon-clock"></b>
				2015/07/23 15:30
				</span>
				<span class="address"><b class="icon-position"></b>
					北京市海淀区
				</span>
				<a href="javascript:;" class="apply">立即报名</a>
			</div>
		</div>
		<!-- Loop end -->
		<div class="item">
			<div class="thumb">
				<img src="__PUBLIC__/Home/images/college.jpg" alt="虫洞学院">
			</div>
			<div class="label">
				<img src="__PUBLIC__/Home/images/logo.jpg" alt="">
				<span>创新企业</span>
			</div>
			<p class="brief">
				这是一个什么样的网站呀，真是搞不懂呀，可是又有什么办法呢，凑合着做吧，整体差不多就可以了，好，这么决定了，balabala，开始吧
			</p>
			<div class="extra">
				<span class="datetime">2015/07/23 15:30</span>
				<span class="address">北京市海淀区</span>
				<a href="javascript:;" class="apply">立即报名</a>
			</div>
		</div>
		<div class="item">
			<div class="thumb">
				<img src="__PUBLIC__/Home/images/college.jpg" alt="虫洞学院">
			</div>
			<div class="label">
				<img src="__PUBLIC__/Home/images/logo.jpg" alt="">
				<span>创新企业</span>
			</div>
			<p class="brief">
				这是一个什么样的网站呀，真是搞不懂呀，可是又有什么办法呢，凑合着做吧，整体差不多就可以了，好，这么决定了，balabala，开始吧
			</p>
			<div class="extra">
				<span class="datetime">2015/07/23 15:30</span>
				<span class="address">北京市海淀区</span>
				<a href="javascript:;" class="apply">立即报名</a>
			</div>
		</div>
		<div class="item">
			<div class="thumb">
				<img src="__PUBLIC__/Home/images/college.jpg" alt="虫洞学院">
			</div>
			<div class="label">
				<img src="__PUBLIC__/Home/images/logo.jpg" alt="">
				<span>创新企业</span>
			</div>
			<p class="brief">
				这是一个什么样的网站呀，真是搞不懂呀，可是又有什么办法呢，凑合着做吧，整体差不多就可以了，好，这么决定了，balabala，开始吧
			</p>
			<div class="extra">
				<span class="datetime">2015/07/23 15:30</span>
				<span class="address">北京市海淀区</span>
				<a href="javascript:;" class="apply">立即报名</a>
			</div>
		</div>
		<div class="item">
			<div class="thumb">
				<img src="__PUBLIC__/Home/images/college.jpg" alt="虫洞学院">
			</div>
			<div class="label">
				<img src="__PUBLIC__/Home/images/logo.jpg" alt="">
				<span>创新企业</span>
			</div>
			<p class="brief">
				这是一个什么样的网站呀，真是搞不懂呀，可是又有什么办法呢，凑合着做吧，整体差不多就可以了，好，这么决定了，balabala，开始吧
			</p>
			<div class="extra">
				<span class="datetime">2015/07/23 15:30</span>
				<span class="address">北京市海淀区</span>
				<a href="javascript:;" class="apply">立即报名</a>
			</div>
		</div>
		<div class="item">
			<div class="thumb">
				<img src="__PUBLIC__/Home/images/college.jpg" alt="虫洞学院">
			</div>
			<div class="label">
				<img src="__PUBLIC__/Home/images/logo.jpg" alt="">
				<span>创新企业</span>
			</div>
			<p class="brief">
				这是一个什么样的网站呀，真是搞不懂呀，可是又有什么办法呢，凑合着做吧，整体差不多就可以了，好，这么决定了，balabala，开始吧
			</p>
			<div class="extra">
				<span class="datetime">2015/07/23 15:30</span>
				<span class="address">北京市海淀区</span>
				<a href="javascript:;" class="apply">立即报名</a>
			</div>
		</div>
		<div class="item">
			<div class="thumb">
				<img src="__PUBLIC__/Home/images/college.jpg" alt="虫洞学院">
			</div>
			<div class="label">
				<img src="__PUBLIC__/Home/images/logo.jpg" alt="">
				<span>创新企业</span>
			</div>
			<p class="brief">
				这是一个什么样的网站呀，真是搞不懂呀，可是又有什么办法呢，凑合着做吧，整体差不多就可以了，好，这么决定了，balabala，开始吧
			</p>
			<div class="extra">
				<span class="datetime">2015/07/23 15:30</span>
				<span class="address">北京市海淀区</span>
				<a href="javascript:;" class="apply">立即报名</a>
			</div>
		</div>
		<div class="item">
			<div class="thumb">
				<img src="__PUBLIC__/Home/images/college.jpg" alt="虫洞学院">
			</div>
			<div class="label">
				<img src="__PUBLIC__/Home/images/logo.jpg" alt="">
				<span>创新企业</span>
			</div>
			<p class="brief">
				这是一个什么样的网站呀，真是搞不懂呀，可是又有什么办法呢，凑合着做吧，整体差不多就可以了，好，这么决定了，balabala，开始吧
			</p>
			<div class="extra">
				<span class="datetime">2015/07/23 15:30</span>
				<span class="address">北京市海淀区</span>
				<a href="javascript:;" class="apply">立即报名</a>
			</div>
		</div>
		<div class="item">
			<div class="thumb">
				<img src="__PUBLIC__/Home/images/college.jpg" alt="虫洞学院">
			</div>
			<div class="label">
				<img src="__PUBLIC__/Home/images/logo.jpg" alt="">
				<span>创新企业</span>
			</div>
			<p class="brief">
				这是一个什么样的网站呀，真是搞不懂呀，可是又有什么办法呢，凑合着做吧，整体差不多就可以了，好，这么决定了，balabala，开始吧
			</p>
			<div class="extra">
				<span class="datetime">2015/07/23 15:30</span>
				<span class="address">北京市海淀区</span>
				<a href="javascript:;" class="apply">立即报名</a>
			</div>
		</div>
	</div>
	<!-- 分页 -->
	<div class="pagination wrapper">
		<a href="javascript:;" class="prev">上一页</a>
		<a href="javascript:;">1</a>
		<a href="javascript:;">2</a>
		<a href="javascript:;">3</a>
		<a href="javascript:;" class="active">4</a>
		<a href="javascript:;">5</a>
		<a href="javascript:;">6</a>
		<a href="javascript:;" class="next">下一页</a>
	</div>
	<!-- 网站底部 -->
    <include file="Base/footer" />
</body>
</html>