<!DOCTYPE html>
<html lang="en">
	<include file="Base/header" />
<body>
    <div class="wrapper">
    	<!-- 网站导航 -->
    	<div class="nav">
    	    <include file="Base/menu" />
    	</div>
        <!-- 焦点图 -->
        <div class="banner wrapper adv" id="banner">
            <ul class="slide">
                <volist name="carousel" id="vo">
                <li><img src="{$vo}" alt="虫洞招拍挂"></li>
                </volist>
            </ul>
        </div>
    	<div class="blank"></div>
    	<!-- 商学院 -->
    	<div class="college">
            <!-- Loop start -->
            <volist name="list" id="vo">
            <php>$content = strip_tags($vo['content'])</php>
    		<div class="item">
                <div class="thumb">
                    <a href="__APP__/Home/College/detail/id/{$vo.id}">
                        <img src="{$vo.img_b_path}{$vo.img_b_name}" alt="虫洞学院">
                    </a>
    			</div>
    			<div class="label">
                    <img src="{$vo.img_l_path}{$vo.img_l_name}" alt="">
                    <span>{$vo.title}</span>
    			</div>
                <p class="brief">
                    {$content|msubstr=0,100}
    			</p>
    			<div class="extra">
                    <span class="datetime"><b class="icon-clock"></b>
                        {$vo.start_time}
    				</span>
                    <span class="address"><b class="icon-position"></b>
                        {$vo.location|msubstr=0,10}
    				</span>
                    <a href="javascript:;" data-cid='{$vo.id}' class="apply">立即报名</a>
    			</div>
            </div>
            </volist>
            <!-- Loop end -->
            <div class="item empty"></div>
        </div>
    	<!-- 分页 -->
        {$show}
    	<!-- 网站底部 -->
        <include file="Base/footer" />
    </div>
    <script type="text/javascript">
        $('.nav').find('li').eq(3).addClass('active');
		$("#banner").unslider({
			speed: 500,
			delay: 3000,
			complete: function() {},
			dots: true
        });
    	$('.college, .detail').on('click', '.apply', function () {
    		var _this = $(this);

    		var mask = $('<div />', {
    			id: 'cover',
    			css: {
    				position: 'fixed',
    				top: 0,
    				left: 0,
    				width: '100%',
    				height: "100%",
    				backgroundColor: '#000',
    				opacity: 0.8
    			}
    		}).appendTo('body');

    		var html = $('#layer').html()
    		
            var layer = $(html).appendTo('body');

            layer.find('#cid').val(_this.attr('data-cid'));

    		// 提交表单的主要逻辑
            layer.find('.submit').click(function () {
                layer.find('#myform').ajaxSubmit({
                    url: '__APP__/Home/College/signUp',
                    dataType: 'json',
                    success: function(data) {
                        if (data.code == 0) {
                            alert('报名成功');

                            window.location.reload();
                        } else {
                            alert(data.msg);
                        }
                    }
                });
    		});

    		mask.one('click', function () {
    			$(this).remove();
    			layer.remove();
    		});
    	});
    </script>
    <script type="text/template" id="layer">
        <div class="layer">
            <form id="myform" method="post">
                <input  type="hidden" id="cid" name="college_id" value='' />
                <ul>
                    <li>
                        <label for="">姓名</label>
                        <input type="text" required name="name">
                    </li>
                    <li>
                        <label for="">公司</label>
                        <input type="text" required name="company">
                    </li>
                    <li>
                        <label for="">职位</label>
                        <input type="text" required name="job">
                    </li>
                    <li>
                        <label for="">手机</label>
                        <input type="text" required name="mobile">
                    </li>
                    <li>
                        <label for="">邮箱</label>
                        <input type="text" required name="email">
                    </li>
                    <li><input type="button" value="提交报名" class="submit"></li>
                </ul>
            </form>
		</div>
    </script>
</body>
</html>
