<extend name="Admin@Public:base" />

<block name="style">
<style type="text/css" media="screen">
    img {
        max-width:80px;
    }
</style>
</block>

<block name="sidebar">
    <include file="Public:documenu" />
</block>

<block name="body">
	<!-- 标题 -->
    <div class="main-title">
        <div class="action">
            <a href="__APP__/Admin/college/teacherList/id/{$collegeId}" class="btn btn-info">后退</a>
            <a href="__APP__/Admin/college/saveTeacher/collegeId/{$collegeId}" class="btn btn-success save">保存</a>
        </div>
        <div class="list">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>图片</th>
                        <th>姓名</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="list" id="vo">
                    <tr>
                        <td>
                            <input type="checkbox" name="check[]" class="check" data-id="{$vo.id}"/></td>
                        <td><img src="{$vo.img_path}{$vo.img_name}"></td>
                        <td>{$vo.name}</td>
                    </tr>
                    </volist>
                </tbody>
            </table>
        </div>
    </div>
</block>

<block name="script">
<script type="text/javascript">
    $(function() {
        $('.main-nav').find('li').eq(1).addClass('current');
        $('#subnav').find('h3').eq(4).find('i').removeClass('icon-fold');
        $('#subnav').find('ul').eq(4).removeClass('subnav-off');
        $('#subnav').find('ul').eq(4).find('li').eq(0).addClass('current');

        $('.save').on('click', function() {
            var _this = $(this), href = _this.attr("href");
            var ids = [];

            $('.check').each(function() {
                var _this = $(this);

                if (_this.prop("checked")) {
                    ids.push(_this.attr('data-id'));
                }
                
            });

            $.ajax({
                url: href,
                dataType: 'json',
                data: {ids: ids},
                type: 'post',
                success: function(data) {
                    if (data.code == 0) {
                        alert('保存成功');

                        window.location.href="__APP__/Admin/College/teacherList/id/{$collegeId}";
                    } else {
                        alert(data.msg);
                    }
                }
            });

            return false;
        });
    });
</script>
</block>

