<extend name="Admin@Public:base" />

<block name="style">
</block>

<block name="sidebar">
    <include file="Public:documenu" />
</block>

<block name="body">
	<!-- 标题 -->
    <div class="main-title">
        <div class="action">
            <a href="__APP__/Admin/College/addCollege" class="btn btn-success">添加</a>
        </div>
        <div class="list">
            <table class="table">
                <thead>
                    <tr>
                        <th>标题</th>
                        <th>地点</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="list" id="vo">
                    <tr>
                        <td>{$vo.title}</td>
                        <td>{$vo.location}</td>
                        <td>{$vo.start_time}</td>
                        <td>{$vo.end_time}</td>
                        <td style="width:280px">
                            <a href="__APP__/Admin/College/editCollege/id/{$vo.id}" class="btn btn-success">修改</a>
                            <a href="__APP__/Admin/College/deleteCollege/id/{$vo.id}" class="btn btn-danger del">删除</a>
                            <a href="__APP__/Admin/College/signUpList/id/{$vo.id}" class="btn btn-success" style="margin-left: 20px">查看报名</a>
                        </td>
                    </tr>
                    </volist>
                </tbody>
            </table>
        </div>
    </div>
</block>

<block name="script">
<script type="text/javascript">
    $(function() {
        $('.main-nav').find('li').eq(1).addClass('current');
        $('#subnav').find('h3').eq(4).find('i').removeClass('icon-fold');
        $('#subnav').find('ul').eq(4).removeClass('subnav-off');
        $('#subnav').find('ul').eq(4).find('li').eq(0).addClass('current');

        $('.del').on('click', function() {
            var _this = $(this), href = _this.attr("href");

            if (confirm('确认删除？')) {
                $.ajax({
                    url: href,
                    dateType: 'json',
                    success: function(data) {
                        data = $.parseJSON(data);

                        if (data.code == 0) {
                            alert('删除成功');

                            location.reload();
                        } else {
                            alert('删除失败');
                        }
                    }
                });
            }

            return false;
        });
    });
</script>
</block>

