<extend name="Admin@Public:base" />

<block name="style">
<link rel="stylesheet" type="text/css" href="__STATIC__/datetimepicker/css/datetimepicker.css"/>
<style type="text/css" media="screen">
    dl {
    margin-bottom:20px;
    }
    .img-sel {
        position: relative;
    }
    .img-sel img#img-l-src {
        position: absolute;
        top:0px;
        left:0px;
        max-width:100px;
        max-height:100px;
    }
    .img-sel img#img-b-src {
        position: absolute;
        top:0px;
        left:0px;
        max-width:340px;
        max-height:190px;
    }
    .img-sel img#img-t-src {
        position: absolute;
        top:0px;
        left:0px;
        max-width:500px;
        max-height:220px;
    }
    textarea.content{
        height:240px;
        width:550px;
    }
    #uploadify_l-queue {
        max-width:95px;
    }
    #uploadify_b-queue {
        max-width:325px;
    }
    #uploadify_t-queue {
        max-width:495px;
    }
    .uploadify-queue-item {
        width: 100%;
        padding: 2px;
        margin-top: 0;
        border-radius: 0;
        background: #fff;
        position: relative;
        left:0;
        bottom: 0px;
    }
    .uploadify-progress {
        width: 100%;
        margin: 0;
        background: #f5f5f5;
    }
    .uploadify-progress-bar {
        width: 100%;
        background: #000;
        height: 5px;
    }
</style>
</block>

<block name="sidebar">
    <include file="Public:documenu" />
</block>

<block name="body">
	<!-- 标题 -->
    <div class="main-title">
        <div>
            <a href="javascript:;" class="btn btn-success confirm">确认</a>
            <a href="__APP__/Admin/Transition/deleteTransition/id/{$info.id}" class="btn btn-danger del">删除</a>
        </div>
        <div style="margin-top:20px">
            <form id="myForm">
                <input type="hidden" value="{$info.id}" name="id" />
                <dl class="dl-horizontal">
                    <dt>标题</dt>
                    <dd><input name="title" type="text" required placeholder="请输入标题" value="{$info.title}"/></dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>地点</dt>
                    <dd><input name="location" type="text" placeholder="请输入地点" value="{$info.location}"/></dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>开始时间</dt>
                    <dd>
                        <input id="stime" name="start_time" type="text" placeholder="请选择时间" value="{$info.start_time}"/>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>结束时间</dt>
                    <dd>
                        <input id="etime" name="end_time" type="text" placeholder="请选择时间" value="{$info.end_time}"/>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>LOGO图片</dt>
                    <dd>
                        <div class="img-sel">
                            <div id="uploadify_l" class="uploadify"></div>
                            <img id="img-l-src" src="{$info.img_l_path}{$info.img_l_name}">
                            <input name="img_l_name" id="img-l-name" type="hidden" value="{$info.img_l_name}"/>
                            <input name="img_l_path" id="img-l-path" type="hidden" value="{$info.img_l_path}"/>
                        </div>
                        <span class="remind">建议比例：100X100</span>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>封面图片</dt>
                    <dd>
                        <div class="img-sel">
                            <div id="uploadify_b" class="uploadify"></div>
                            <img id="img-b-src" src="{$info.img_b_path}{$info.img_b_name}">
                            <input name="img_b_name" id="img-b-name" type="hidden" value="{$info.img_b_name}"/>
                            <input name="img_b_path" id="img-b-path" type="hidden" value="{$info.img_b_path}"/>
                        </div>
                        <span class="remind">建议比例：340X190</span>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>详情图片</dt>
                    <dd>
                        <div class="img-sel">
                            <div id="uploadify_t" class="uploadify"></div>
                            <img id="img-t-src" src="{$info.img_t_path}{$info.img_t_name}">
                            <input name="img_t_name" id="img-t-name" type="hidden" value="{$info.img_t_name}"/>
                            <input name="img_t_path" id="img-t-path" type="hidden" value="{$info.img_t_path}"/>
                        </div>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>内容</dt>
                    <dd>
                        <textarea class="content" name="content" id="content">{$info.content}</textarea>
                    </dd>
                </dl>
            </form>
        </div>
    </div>
</block>

<block name="script">
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript" src="__STATIC__/jquery.form.js"></script>
<script type="text/javascript" src="__STATIC__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/ueditor/ueditor.all.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript">
    $(function() {
        $('.main-nav').find('li').eq(1).addClass('current');
        $('#subnav').find('h3').eq(4).find('i').removeClass('icon-fold');
        $('#subnav').find('ul').eq(4).removeClass('subnav-off');
        $('#subnav').find('ul').eq(4).find('li').eq(0).addClass('current');

        $('#uploadify_b').uploadify({
            'width': 340,
            'height' : 190,
            'swf' : '__STATIC__/uploadify/uploadify.swf',
            'buttonText' : '+上传图片',
            'uploader' : '__APP__/Admin/Upload/uploadImg',
            'fileTypeExts': '*.jpg;*.png;*.gif',
            itemTemplate: '<div id="${fileID}" class="uploadify-queue-item">\
                                <div class="uploadify-progress">\
                                    <div class="uploadify-progress-bar"></div>\
                                </div>\
            </div>',
            onUploadStart: function() {
                $('.saveform').prop('disabled', true);
            },
            onUploadSuccess: function(file, data, response) {
                var  data = $.parseJSON(data);
                $('#img-b-src').attr("src", data.path+data.name);
                $('#img-b-name').val(data.name);
                $('#img-b-path').val(data.path);
            },
            onQueueComplete: function() {
                $('.saveform').prop('disabled', false);
            }
        });
        $('#uploadify_l').uploadify({
            'width': 100,
            'height' : 100,
            'swf' : '__STATIC__/uploadify/uploadify.swf',
            'buttonText' : '+上传图片',
            'uploader' : '__APP__/Admin/Upload/uploadImg',
            'fileTypeExts': '*.jpg;*.png;*.gif',
            itemTemplate: '<div id="${fileID}" class="uploadify-queue-item">\
                                <div class="uploadify-progress">\
                                    <div class="uploadify-progress-bar"></div>\
                                </div>\
            </div>',
            onUploadStart: function() {
                $('.saveform').prop('disabled', true);
            },
            onUploadSuccess: function(file, data, response) {
                var  data = $.parseJSON(data);
                $('#img-l-src').attr("src", data.path+data.name);
                $('#img-l-name').val(data.name);
                $('#img-l-path').val(data.path);
            },
            onQueueComplete: function() {
                $('.saveform').prop('disabled', false);
            }
        });
        $('#uploadify_t').uploadify({
            'width': 500,
            'height' : 220,
            'swf' : '__STATIC__/uploadify/uploadify.swf',
            'buttonText' : '+上传图片',
            'uploader' : '__APP__/Admin/Upload/uploadImg',
            'fileTypeExts': '*.jpg;*.png;*.gif',
            itemTemplate: '<div id="${fileID}" class="uploadify-queue-item">\
                                <div class="uploadify-progress">\
                                    <div class="uploadify-progress-bar"></div>\
                                </div>\
            </div>',
            onUploadStart: function() {
                $('.saveform').prop('disabled', true);
            },
            onUploadSuccess: function(file, data, response) {
                var  data = $.parseJSON(data);
                $('#img-t-src').attr("src", data.path+data.name);
                $('#img-t-name').val(data.name);
                $('#img-t-path').val(data.path);
            },
            onQueueComplete: function() {
                $('.saveform').prop('disabled', false);
            }
        });

        var ue = UE.getEditor('content', {
            initialFrameWidth:800,
            initialFrameHeight: 1000,
        });

        $('#stime').datetimepicker({
            autoclose: true,
            format: 'yyyy-mm-dd hh:ii:ss'
        });
        $('#etime').datetimepicker({
            autoclose: true,
            format: 'yyyy-mm-dd hh:ii:ss'
        });

        $('.confirm').on('click', function() {
            $('#myForm').ajaxSubmit({
                url: '__APP__/Admin/College/updateCollege',
                type: 'post',
                dataType: 'json',
                beforeSubmit: function() {
                    var form = $('#myForm'), flag = true;

                    form.find('input').each(function() {
                        var _this = $(this);
                        if (_this.attr("required") == 'required' && !_this.val()) {
                            alert('请输入标题');

                            flag = false;
                        }
                    });

                    var stime = $('#stime').val(), etime = $('#etime').val();

                    if (flag && stime >= etime) {
                        alert('结束时间要早于开始时间');

                        flag = false;
                    }

                    return flag;
                },
                success: function(data) {
                    if(data.code == 0) {
                        alert('修改成功');

                        location.href="__APP__/Admin/College/collegeList";
                    } else {
                        alert("修改失败");
                    }
                }
            });
        });

        $('.del').on("click", function() {
            var _this = $(this), href = _this.attr("href");
            if (confirm("确认删除？")) {
                $.ajax({
                    url: href,
                    dateType: 'json',
                    success: function(data) {
                        data = $.parseJSON(data);

                        if (data.code == 0) {
                            alert('删除成功');

                            location.href="__APP__/Admin/College/collegeList";
                        } else {
                            alert('删除失败');
                        }
                    }
                });
            }

            return false;
        });
    });
</script>
</block>

