<div class="footer wrapper">
    <div class="contact">
        <a href="javascript:;" class="project">创建项目</a>
        <dl class="item">
            <dt>联系邮箱</dt>
            <dd class="icon mail">
                gqzc@jd.com
            </dd>
        </dl>
        <dl class="item">
            <dt class="icon weibo">关注微博</dt>
            <dd>
                <img src="" alt="">
            </dd>
        </dl>
        <dl class="item mail">
            <dt class="icon wechat">关注微信</dt>
            <dd>
                <img src="__PUBLIC__/Home/images/weixin.png" alt="">
            </dd>
        </dl>
    </div>
    <div class="copyright"></div>
</div>
