    <div class="footer">
        <div class="focus">
            <a href="__APP__/Home/Project/create" class="project">
                创建项目<span class="icon-arrow"></span>
            </a>
            <dl class="item">
                <dt>联系邮箱</dt>
                <dd class="message">
                    <span class="icon-message"></span>zhanghao1539@vip.163.com
                </dd>
            </dl>
            <dl class="item">
                <dt class="icon"><span class="icon-weibo"></span>关注微博</dt>
                <dd>
                    <img src="{$qrcode.weibo}" alt="">
                </dd>
            </dl>
            <dl class="item">
                <dt class="icon"><span class="icon-wechat"></span>关注微信</dt>
                <dd>
                    <img src="{$qrcode.weixin}" alt="">
                </dd>
            </dl>
        </div>
        <div class="copyright">
            <div class="links">
                <p>
                    <empty name="info.home">
                    <a href="javascript:;">关于虫洞创业之家</a>
                    <else />
                    <a href="__APP__/Home/Info/info/type/home">关于虫洞创业之家</a>
                    </empty>
                    <empty name="info.zhao">
                    <a href="javascript:;">关于虫洞招拍挂</a>
                    <else />
                    <a href="__APP__/Home/Info/info/type/zhao">关于虫洞招拍挂</a>
                    </empty>
                    <empty name="info.contect">
                    <a href="javascript:;">联系我们</a>
                    <else />
                    <a href="__APP__/Home/Info/info/type/contect">联系我们</a>
                    </empty>
                    <empty name="info.relief">
                    <a href="javascript:;">免责声明</a>
                    <else />
                    <a href="__APP__/Home/Info/info/type/relief">免责声明</a>
                    </empty>
                </p>
                <p>
                    Copyright &copy 2004-2015
                    <a href="javascript:;" class="site">虫洞创业之家</a>
                    版权所有
                </p>
            </div>
            <div class="extra">
                <h6>联系我们<small> (9:00-22:00)</small></h6>
                <span>010-56195621 (个人业务)</span>
                <span>010-56195623 (企业业务)</span>
                <p class="contact">
                    <a href="javascript:;"><b class="icon-bubble"></b>
                        在线客服
                    </a>
                    <a href="javascript:;"><b class="icon-mail"></b>
                        客服邮箱
                    </a>
                </p>
            </div>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&pop=-1&lang=zh">
    </script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
    <script type="text/javascript" src="__STATIC__/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/unslider/unslider.min.js"></script>
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <script type="text/javascript" src="__STATIC__/jquery.form.js"></script>
