<!DOCTYPE html>
<html lang="en">
	<include file="Base/header" />
<body>
	<!-- 网站导航 -->
	<div class="topnav">
		<div class="wrapper">
			<ul class="nav">
				<li><a href="__APP__">首页</a></li>
				<li class="active"><a href="__APP__/Home/Inverstor/info">虫洞招拍挂</a></li>
				<li><a href="__APP__/Home/Transition/showList">虫洞转型</a></li>
				<li><a href="__APP__/Home/College/showList">虫洞商学院</a></li>
			</ul>
			<a href="javascript:;" class="extra">
				<span class="icon-phone"></span> 官方咨询电话 <span>400-100-6810</span>
			</a>
		</div>
	</div>
	<!-- 网站LOGO -->
	<div class="logo wrapper">
		<h2>虫洞招拍挂</h2>
		<div class="advert">
            <img src="{$img.path}{$img.name}" alt="虫洞招拍挂">
		</div>
	</div>
	<div class="signup wrapper">
		<div class="form">
			<form action="">
				<h5>发起项目</h5>
				<ul>
					<li>
						<label for="">项目名称：</label>
						<input type="text" name="">
						<span class="error">项目名称不能为空</span>
					</li>
					<li>
						<label for="">一句话说明：</label>
						<input type="text" name="">
					</li>
					<li>
						<label for="">已备资金：</label>
						<input type="text" name="">
						<span class="cell">元</span>
						<span class="error">fadf</span>
					</li>
					<li>
						<label for="">项目简介：</label>
						<textarea name=""></textarea>
					</li>
					<li>
						<label for="">项目资源：</label>
						<textarea name=""></textarea>
					</li>
					<li>
						<label for="">项目需求：</label>
						<textarea name="" class="needs"></textarea>
					</li>
				</ul>
				<h6>发起人信息</h6>
				<ul>
					<li>
						<label for="">自我介绍：</label>
						<textarea name=""></textarea>
					</li>
					<li>
						<label for="">联系电话：</label>
						<input type="text" name="">
					</li>
					<li>
						<label for="">上传照片：</label>
						<div class="thumbs">
							<div class="pic">
								<img src="__PUBLIC__/Home/images/1px.png" class="preview">
								<b></b>
								<input type="hidden" name="" class="picture">
							</div>
							<input type="file" class="file" id="file">
							<p class="mark">支持jpg、jpeg、git格式<br>大小不超过2M</p>
							<span class="error">大小不能超过10M</span>
						</div>
					</li>
				</ul>
				<h6>关于公司</h6>
				<ul>
					<li>
						<label for="">成立时间：</label>
						<input type="text" name="">
					</li>
					<li>
						<label for="">所在城市：</label>
						<input type="text" name="">
					</li>
					<li>
						<label for="">公司资产：</label>
						<input type="text" name="">
					</li>
					<li>
						<label for="">去年销售额：</label>
						<input type="text" name="">
					</li>
				</ul>
				<input type="submit" class="apply" value="提交">
			</form>
		</div>
	</div>
	<include file="Base/footer" />
	<script type="text/javascript">
		$('input#file').uploadify({
			width: 300,
			height: 360,
			buttonClass: 'custombtn',
			buttonText: '',
			fileTypeExts: '*.gif; *.jpg; *.png',
			fileSizeLimit: '10MB',
			formData: {width: 0, height: 0}, // 一些其它参数
			swf: '__STATIC__/uploadify/uploadify.swf',
			uploader: '__APP__/admin/upload/uploadImg',
			itemTemplate  : '<div id="${fileID}" class="uploadify-queueitem">\
					<div class="uploadify-progress">\
						<div class="uploadify-progress-bar"></div>\
					</div>\
				</div>',
			overrideEvents: ['onDialogClose'],
			onUploadSuccess: function (file, data, response) {
				var data = JSON.parse(data);

				console.log(data);

				// 根据返回结果的一些其它逻辑

				$('img.preview').attr('src', data.path + data.name);
				$('input.picture').val(data.path + data.name);
			},
			onSelectError: function (file, errorCode, errorMsg) {
				// 图片类型会在打开窗口时自动过滤不用检测
				
                if(errorCode == -110) {
                	alert('图片大小超出限制');
                }
			}
		});
	</script>
</body>
</html>
