<!DOCTYPE html>
<html lang="en">
	<include file="Base/header" />
<body>
	<!-- 网站导航 -->
	<div class="topnav">
		<div class="wrapper">
			<ul class="nav">
				<li class="active"><a href="/">首页</a></li>
				<li><a href="__APP__/Home/Inverstor/info">虫洞招拍挂</a></li>
				<li><a href="__APP__/Home/Transition/showList">虫洞转型</a></li>
				<li><a href="__PUBILC__/Home/images/college.html">虫洞商学院</a></li>
			</ul>
			<a href="javascript:;" class="extra">
				官方咨询电话 <span>400-100-6810</span>
			</a>
		</div>
	</div>
	<!-- 网站LOGO -->
	<div class="logo wrapper">
		<h2>虫洞招拍挂</h2>
		<div class="advert">
			<img src="{$adv}" alt="虫洞招拍挂">
		</div>
	</div>
	<!-- 焦点图 -->
	<div class="banner wrapper" id="banner">
		<ul class="slide">
            <volist name="banners" id="vo">
            <li><img src="{$vo}" alt="虫洞招拍挂"></li>
            </volist>
		</ul>
	</div>
	<!-- 未知部分 -->
	<div class="vague wrapper">
		<img src="__PUBLIC__/Home/images/vague.jpg" alt="虫洞招拍挂">
	</div>
	<!-- 经营服务 -->
	<div class="service wrapper">
		<!-- Loop Start -->
        <volist name="project" id="vo">
		<div class="item">
			<div class="pic">
                <img src="{$vo.img_path}{$vo.img_name}" alt="{$vo.name}">
                <b class="mark">融资成功</b>
			</div>
			<div class="brief">
                <h4>{$vo.name}</h4>
                <p>{$vo.desc}</p>
				<dl>
					<dt></dt>
                    <dd>已备资金 : <span>{:round($vo['funds']/100/10000, 2)}万</span></dd>
                    <dd>{$vo.main_type}•<span>{$vo.sub_type}</span></dd>
                    <dd>人才招募 : <span>{$vo.recruit}</span></dd>
				</dl>
			</div>
        </div>
        </volist>
		<!-- Loop Start -->
		<!-- 更多 -->
		<a href="javascript:;" class="more">MORE</a>
	</div>
	<include file="Base/footer" />
	<script type="text/javascript">
		$("#banner").unslider({
			speed: 500,
			delay: 3000,
			complete: function() {},
			dots: true
		});
	</script>
</body>
</html>