<!DOCTYPE html>
<html lang="en">
	<include file="Base/header" />
<body>
    <div class="wrapper">
    	<!-- 网站导航 -->
    	<div class="nav">
    	    <include file="Base/menu" />
    	</div>
    	<!-- 焦点图 -->
    	<div class="banner" id="banner">
    		<ul class="slide">
                <volist name="carousel" id="vo">
                <li><img src="{$vo}" alt="虫洞招拍挂"></li>
                </volist>
    		</ul>
    	</div>
    	<!-- 未知部分 -->
        <div class="vague">
            <notempty name="banner">
            <img src="{$banner}" alt="虫洞招拍挂">
            <else/>
            <img src="__PUBLIC__/Home/images/vague.jpg" alt="虫洞招拍挂">
            </notempty>
    	</div>
    	<!-- 经营服务 -->
    	<div class="service">
    		<!-- Loop Start -->
            <volist name="project" id="vo">
            <div class="item">
    			<div class="pic">
                    <img src="{$vo.img_path}{$vo.img_name}" alt="{$vo.name}">
                    <if condition="$vo.is_funding eq 1">
                    <b class="mark">融资成功</b>
                    </if>
    			</div>
    			<div class="brief">
        			<a href="__APP__/Home/Inverstor/info/id/{$vo.inverstor_id}">
                        <h4>{$vo.name}</h4>
                    </a>
                    <p>{$vo.desc}</p>
    				<dl>
        				<a href="__APP__/Home/Inverstor/info/id/{$vo.inverstor_id}">
                            <dt></dt>
                        </a>
                        <dd><empty name="vo.key_funds">已备资金<else />{$vo.key_funds}</empty> : <span>{$vo['funds']}</span></dd>
                        <dd>{$vo.main_type}<notempty name="vo.sub_type">•<span>{$vo.sub_type}</span></notempty></dd>
                        <dd><empty name="vo.key_recruit">人才招募<else />{$vo.key_recruit}</empty> : <span>{$vo.recruit}</span></dd>
    				</dl>
    			</div>
            </div>
            </volist>
    		<!-- Loop Start -->
            <!-- 更多 -->
            <if condition="$more">
            <a href="javascript:;" class="more">MORE</a>
            </if>
    	</div>
    	<include file="Base/footer" />
    </div>
    <script type="text/javascript">
        $('.nav').find('li').eq(0).addClass('active');
		$("#banner").unslider({
			speed: 500,
			delay: 3000,
			complete: function() {},
			dots: true
        });

        var page = 1;
        $('.more').on('click', function() {
            $.ajax({
                url: '__APP__/Home/Index/moreProject/page/'+page,
                dataType: 'json',
                success: function(data) {
                    if (data.code == 0) {
                        $('.more').before(data.html);

                        if (!data.more) {
                            $('.more').hide();
                        } else {
                            page++;
                        }
                    } else {
                        $(this).hide();
                    }
                }
            });
        });
	</script>
</body>
</html>
