<volist name="project" id="vo">
<div class="item">
    <div class="pic">
        <img src="{$vo.img_path}{$vo.img_name}" alt="{$vo.name}">
        <if condition="$vo.is_funding eq 1">
        <b class="mark">融资成功</b>
        </if>
    </div>
    <div class="brief">
        <h4>{$vo.name}</h4>
        <p>{$vo.desc}</p>
        <dl>
            <a href="__APP__/Home/Inverstor/info/id/{$vo.inverstor_id}">
                <dt></dt>
            </a>
            <dd>已备资金 : <span>{:round($vo['funds']/100/10000, 2)}万</span></dd>
            <dd>{$vo.main_type}<notempty name="vo.sub_type">•<span>{$vo.sub_type}</span></notempty></dd>
            <dd>人才招募 : <span>{$vo.recruit}</span></dd>
        </dl>
    </div>
</div>
</volist>
