<extend name="Public/base"/>
<block name="style">
</block>

<!-- 子导航 -->
<block name="sidebar">
    <include file="sidemenu" />
</block>


<block name="body">
	<!-- 标题 -->
    <div class="main-title">
        <div class="virtual-body">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                </div>
            </div>
            <div class="adv">
                <div class="logo">
                </div>
                <div class="adv-img">
                    <div class="img-sel">
                    </div>
                </div>
            </div>
        </div>
	</div>

	<!-- 按钮工具栏 -->
</block>
<block name="script">
</block>
